---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<h1>Bonjour, je suis Xinzhu 👋. Voici mon blog !</h1>
	<p>
		Alternante Consultante informatique chez ISKernel</p>
	<p>
		Sur ce blog je partage mes apprentissages et mes projets 
		sur la tech et la reconversion.
	</p>

</Layout>
