---
import Layout from '../layouts/Layout.astro';
import heroImage from '../assets/cover.svg';
const base = import.meta.env.BASE_URL;
---
<Layout>
  <section class="hero">
    <div class="hero-text">
      <h1>Apprentissage & Reconversion</h1>
      <p class="text-md">Je suis Xinzhu. Sur ce blog je partage mes apprentissages.</p>
      <a class="btn" href={`${base}/blog/`}>Découvrir</a>
    </div>

    <div class="hero-image">
      <img src={heroImage.src} alt="Illustration développeuse" />
    </div>

  </section>
</Layout>